.hero {
  min-height: 100vh;
  width: 100%;
  background-image: url('/assets/green-chair.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .inner-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: start;

    .container {
      padding: 90px 0 140px;
      position: relative;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
      justify-content: space-between;
      color: #f7f2f7;

      .gsap-text-wrapper {
        overflow: hidden;
      }

      .gsap-text {
        transform: translateY(90%);
        opacity: 0;
        display: block;
      }

      .font-satisfy {
        color: #fffcff;
      }

      .buttons-wrapper {
        opacity: 0;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        z-index: 1;

        a {
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #f7f2f7;
          padding: 0 15px;
          border-radius: 5px;
          color: #f7f2f7;

          span {
            margin-left: 5px;
            font-size: 20px;
            color: #a4d03d;
          }

          &:hover {
            border-color: #a4d03d;
            color: #a4d03d;
            transition-duration: 0.3s;
          }
        }

        button {
          display: flex;
          align-items: center;
          gap: 7px;

          span {
            color: #a4d03d;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            background-color: #f7f2f7;
            font-size: 20px;
            transition: all 0.4s ease;
          }

          &:hover {
            color: #a4d03d;
            span {
              background-color: rgb(247, 242, 247, 0.5);
            }
          }

          &:active {
            span {
              scale: 0.8;
              transition: scale 0.1s ease;
            }
          }
        }
      }
    }
  }

  // divider
  .divider-bottom {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(110% + 1.3px);
      height: 321px;
    }

    .shape-fill {
      transition: all 0.9s ease;
      fill: var(--bg);
    }
  }
}

.video-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: 1px solid #f7f2f7;
  max-width: 800px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 40px;
  display: flex;
  align-items: center;
  width: 90%;
  clip-path: circle(0.4% at 50% 50%);
  opacity: 0;
  transition: all 0.2s ease-out;

  video {
    display: none;
    width: 100%;
    aspect-ratio: 16/9;
  }

  button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 34px;
    color: #f7f2f7;
    line-height: 25px;

    &:hover {
      color: #a4d03d;
    }
  }
}

.video-wrapper.active {
  clip-path: circle(70.7% at 50% 50%);
  transition: all 0.3s ease;
  opacity: 1;

  video {
    display: block;
  }
}

@media (max-width: 768px) {
  .video-wrapper {
    padding: 50px 7px 10px;
  }
}
