.subscribe {
  background: rgb(164, 208, 61);
  background: linear-gradient(
    90deg,
    rgba(164, 208, 61, 1) 10%,
    rgba(100, 126, 37, 1) 100%
  );
  padding: 120px 0;

  .container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    .title-wrapper {
      flex: 1;
      max-width: 500px;
      color: #fffcff;

      h2 {
        color: #fffcff;
        margin-bottom: 10px;
      }
      span {
        font-weight: 700;
        color: #fffcff;
      }

      div {
        transform: translateY(100%);
        opacity: 0;
      }
    }

    form {
      position: relative;
      flex: 1;
      max-width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      input {
        background-color: #fffcff;
        height: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        padding: 10px 20px;
        width: 100%;
        font-size: 18px;

        &::placeholder {
          color: #525258;
        }
      }

      button {
        padding: 0 25px;
        height: 50px;
        color: #fffcff;
        transition: all 0.5s ease, transform 0.1s ease;
      }

      .err {
        color: rgb(255, 51, 28);
        font-size: 14px;
        position: absolute;
        bottom: -25px;
        left: 0;
        visibility: hidden;

        &.active {
          visibility: visible;
        }
      }

      .message {
        color: #fffcff;
        font-size: 14px;
        position: absolute;
        top: -25px;
        left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .subscribe .container {
    align-items: start;
    flex-direction: column;
    gap: 30px;

    form {
      flex: 1;

      input {
        background-color: #fffcff;
        height: 42px;
        padding: 10px;
        width: 100%;
        font-size: 14px;
      }

      button {
        padding: 0 15px;
        height: 42px;
        font-size: 12px;
      }
    }
  }
}
