$black-200: #262627;
$dark-purple-200: #130d33;
$dark-purple-300: #1c134a;

$gray-100: #49494d;

$white-100: #fffcff;
$gray-500: #f7f2f7;

$green-100: #93be30;
$green-300: #a4d03d;
$dark-green-200: #647e25;

:root {
  --text: #49494d;
  --text-heading: #262527;
  --bg: #fffcff;
  --bg-secondary: #f7f2f733;
  --bg-third: #f7f5fa;
}

.dark {
  --text: #e6e6e6;
  --text-heading: #fffcff;
  --bg: #262627;
  --bg-secondary: #49494d33;
  --bg-third: #333336;
}

@media (max-width: 768px) {
}
