@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import './base';

// reset
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  transition: background 700ms ease;
}

main {
  min-height: 100vh;
}

h1 {
  font-size: clamp(45px, 5vw, 70px);
  font-weight: 700;
  background: linear-gradient(to bottom, #c1db84, $white-100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: clamp(20px, 5vw, 30px);
}

h2,
h3 {
  font-weight: 700;
  color: var(--text-heading);
}

.inner-section {
  margin: auto;
  max-width: 1440px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: var(--text-heading);
  transition: all 0.5s ease-out;
  white-space: nowrap;

  &:hover {
    color: #a4d03d;
  }
}

.test {
  height: 100vh;
  background-color: var(--bg);
}
